{% extends 'login/base.html' %}
{% block title %}Perguntas{% endblock %}
{% block content %}
    <h1>Perguntas</h1>
    {% for question in questions %}
        <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ question.user.username }}</a>
            <small class="text-muted">{{ question.date }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post_detail' pk=question.pk %}">{{ question.title }}</a></h2>
            <p class="article-content">{{ question.description | truncatechars:50 }}</p>
        </div>
        </article>
    {% endfor %}
{% endblock content %}