{% extends "login/base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    
<h1>Home Page</h2>

    {% if user.is_authenticated %}
        Olá,  {{ user.first_name }}!
        <p>
            <a href="{% url 'logout' %}">logout</a><br>
            <a href="{% url 'new_post' %}">Nova Pergunta</a><br>
            <a href="{% url 'post_list' %}">Perguntas</a>
        </p>
        
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> <a href = "{% url 'cadastro' %}">cadastrar </a>
    {% endif %}
    
    
{% endblock content %}