{% extends "login/base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    
<!-- <h1>Home Page</h2>-->

    {% if user.is_authenticated %}
        {% for question in questions %}
            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ question.user.username }}</a>
                <small class="text-muted">{{ question.date }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post_detail' pk=question.pk %}">{{ question.title }}</a></h2>
                <p class="article-content">{{ question.description | truncatechars:50 }}</p>
            </div>
            </article>
        {% endfor %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">
            <button class ="btn btn-default">login</button>
        </a> 
        <a href = "{% url 'cadastro' %}">
            <button class ="btn btn-default">cadastro</button>
        </a>
    {% endif %}
    
{% endblock content %}